---
title: Hej, jag är Jens
layout: home.njk
---
<header class="content-grid">
  <nav class="navbar region feature">
    <a href="/">Brand</a>
    <ul class="nav">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </nav>
</header>
<main id="main-content" tabindex="-1" class="content-grid flow">
  <header class="bg-primary flow region full content-grid">
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed libero ipsum ab minima quaerat quasi harum. Minus
      quam recusandae harum ipsam architecto error minima saepe nulla voluptas, officia aut velit.</p>
  </header>
  <h2>
    Lorem, ipsum dolor
  </h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat aliquid voluptate quas porro! Laborum earum
    voluptatum similique unde aspernatur officia suscipit saepe facilis minus quos. Sed nam omnis fugiat quam.</p>
  <p class="feature">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, tenetur atque totam
    exercitationem tempore odio commodi aperiam dolorum, laborum iusto vel. Fuga, quia repellendus! Eligendi iusto vero
    aliquid vel! Sapiente.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores atque a reiciendis in et vero animi
    tempore temporibus velit, quaerat quisquam distinctio, odio hic aut quod saepe laudantium eum.</p>

  <img src="https://picsum.photos/1200/600.webp" alt="placeholder" class="full">

  <h2>Consect etur</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dignissimos quos laboriosam exercitationem, natus
    aspernatur amet veniam quia ducimus, consectetur corrupti consequatur et molestiae deleniti. Cupiditate ab illum
    facere porro.</p>

  <p class="popout bg-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dignissimos quos laboriosam exercitationem, natus

</main>
<footer class="content-grid bg-dark flow region">

    <p>&copy; 2021 Jens</p>

    <nav class="">
      <ul class="nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </nav>
  
</footer>